@tailwind base;
/*@tailwind components;
@tailwind utilities;*/
body{
    background:#f7f7f7;
    margin:0;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    background: white none repeat scroll 0% 0%;
    padding: 10px 20px;
    margin: 0 0px 20px;
    width: 100%;
    border-radius:0 0 5px 5px;
    display: grid;
    grid-template: 1fr / 1.5fr 2fr;
    gap: 10px;
    align-items: center;
    overflow: auto;
    font-weight:bold;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
}
nav>*{
    display: flex;
    align-items: center;
}
.navCenter{justify-content: center;}
.navEnd{justify-content: flex-end;}
.navCenter>*,
.navEnd>*{margin:0 15px;
    font-size:14px;
    font-weight:600;
}
.btn{border:1px solid #197dff;color:#4f9afb;padding:5px 10px;border-radius:5px;}
.profileImg{
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    background: #4f9afb;
    color: white;
    margin: 0 10px;
    line-height: 36px;
    text-align: center;
    font-weight:bold;
    position: relative;
}
.profileImg::after{
    position: absolute;
    top: -5px;
    right: -5px;
    content: attr(data-total);
    border-radius: 50%;
    color: white;
    background-color: red;
    border: 3px solid white;
    width: 24px;
    height: 24px;
    line-height: 16px;
    font-size: 14px;
}
.searchBar{
    display: flex;
    align-items: center;
    margin: 10px 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px -1px;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
}
input{padding:10px;width:100%}
.searchBar>.searchData{
    position: absolute;
    width:100%;
    top:101%;
    left:0;
    min-height:50px;
    max-height:50vh;
    padding:10px;
    overflow:auto;
    display:none;
    background: white;
    z-index:10;
    border-radius: 0 0 5px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
.searchBar>.searchData.show{
    display:block;
}
.container{padding:0 10px;max-width:100vw;}
a{cursor: pointer;}
a.active{color:rgb(59, 72, 247);}
nav a:hover{opacity:0.5;
    /*color: #6c6c6c;*/
}
footer{
box-shadow: rgba(0, 0, 0, 0) 0px 0px 4px;
background: white;
padding: 10px;
width: 100%;
margin-top: 20px;
font-size:14px;
}
.footer{
    padding: 10px;
    margin:0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer>*{
    flex-grow: 1;
    min-width: 250px;
    margin-bottom:10px;
}
.footer>:first-child{
    min-width: 40vw;
}
footer h1{
    font-size:24px;
}
.filters{
    display: flex;
    justify-self: end;
    font-size: 14px;
}
.selector{
    color:#737373;
    cursor: pointer;
    position: relative;;
    margin:0 5px;
    min-width:60px;
}
.none{pointer-events:none;}
.selectorBox{
    position: absolute;
    padding:5px;
    top:100%;
    width:100%;
    display:none;
    background-color:white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    font-size:12px;
}
.selectorBox>div:hover{color:black}
.selector:hover .selectorBox{display:block;}
.selected{border:1px solid black;}
.filterOptions>*{
 margin:0 5px;
 cursor: pointer;
 white-space: nowrap;
}
.filterText>a{display:block;}
.filterText>*::after{
    content: attr(data-count);
    color:rgba(0,0,0,0.6);
    padding:0 8px;
    font-size:14px;
}
.showJobs {
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	background: white;
	padding: 10px;
	border-radius: 5px;
    min-width: 60vw;
    width: 60vw;
	max-width: 100%;
	overflow: auto;
	flex-grow: 1;
}
.myFilters {
	display: grid;
	grid-template: 1fr/1.2fr 2fr;
	grid-gap: 10px;
	margin: 10px 10px 30px 10px;
}
.miniJob>a {
	display: flex;
	align-items: center;
}
.miniJob img{
	border-radius: 5px;
	min-width: 40px;
	height: 40px;
	margin: 8px;
	text-align: center;
	line-height: 40px;
	background: rgb(127, 255, 212) none repeat scroll 0% 0%;
	font-weight: bold;
}
.miniData{
    border-top: 1px solid #ddd;
    margin:10px 5px;
    padding:5px;
}
.miniData h1{
    font-weight:bold;
}
.miniDataDetails{display: flex;justify-content: space-between;flex-wrap:wrap;cursor: pointer;align-items:center;}
.miniDataDetails>:first-child{min-width:70%}
.jobDetails{
    margin:5px 0;
    display:none;
}
.jobDetails.show{
    display:block;
}
.jobDetails>div{
    margin:15px 0;
}
/*.jobDetails>div{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}*/
.jobDetails>div>div{
    margin:5px 0;   
}
.jobDetails a{
 margin:5px;
}
.modal-box{position:fixed;width:100%;height:100%;top:0;left:0;background-color: rgba(0, 0, 0, 0.3);z-index:99;}
.modal{
    position:fixed;
    width:80%;
    max-height:60%;
    top:0%;
    left:50%;
    /* display:none; */
    border-radius: 5px 5px 10px 10px;
    padding:10px;
    background-color:white;
    z-index: 100;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    transform: translate(-50%,50%);
    overflow: auto;
}
.modal h1{font-size:24px;font-weight:bold;}
.modal>.sticky {
	position: sticky;
	top: -10px;
	background: inherit;
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;
}
.modelData {
	display: flex;
	font-size: 14px;
	margin: 15px 0;
	flex-wrap: wrap;
	align-items: center;
}
.modelData>*{
    margin: 5px;
    width: max(192px,15%);
    /* flex-grow:1 */
}
.modal.show{display:block;}
.show{display:block !important;}
.modal .close{
    position: absolute;
    right:20px;
    top:0;
    display:block;
}
.close{
    cursor: pointer;
    font-size:30px;
    position: relative;
    top: -3px;
    display:none;
}
/*RWD*/
.mobile{display:block}
.mobile.flex{display:flex}
.navicon{display:none;margin:0 10px;}
@media screen and (max-width: 768px) {
 .mobile{display:none !important;}
 .navicon{display:block;}
}